<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>angular</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<div ng-controller="firstCtrl" class="panel panel-default">
    <h4>双向绑定</h4>
    <input type="text" ng-model="typing">
    <div class="{{typing}}">{{typing}}</div>
    <input type="text" ng-model="message">
    <div class="panel-heading">{{reversedMes(message)}}</div>
</div>
<div ng-controller="secondCtrl" class="panel panel-default">
    <h4>控制器通讯</h4>
    <input type="text" ng-model="data.message">
    <div class="panel panel-heading">{{data.message}}</div>
</div>
<div ng-controller="thirdCtrl" class="panel panel-default">
    <h4>控制器通讯</h4>
    <input type="text" ng-model="data.message">
    <div class="panel panel-heading">{{data.message}}</div>
</div>
<script src="node_modules/angular/angular.js"></script>
<script src="index.js"></script>
</body>
</html>