<div class="container">
    <form class="panel panel-default form-horizontal">
        <div class="panel-heading">
            <div class="row">
                <label class="control-label col-xs-2">筛选</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" ng-model="vm.filter.$">
                </div>
            </div>
        </div>
    </form>
    <table class="table table-hover table-striped table-bordered">
        <thead>
         <tr>
             <th ng-repeat="label in vm.labels">{{label.label}}</th>
         </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.items|filter:vm.filter">
            <td>{{item.title}}</td>
            <td>{{item.poster}}</td>
            <td>{{item.dateCreated}}</td>
        </tr>
        </tbody>
    </table>
</div>